<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="p-toolbar-separator"></span>
    <h3 class="m-0">Gastos</h3>
  </div>
</p-toolbar>

<p-table [value]="rows" [paginator]="true" [rows]="10" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th>Producto</th>
      <th>Monto</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.fecha | date:'yyyy-MM-dd' }}</td>
      <td>{{ row.categoriaNombre }}</td>
      <td>{{ row.subcategoriaNombre }}</td>
      <td>{{ row.productoNombre }}</td>
      <td>{{ row.monto | currency }}</td>
    </tr>
  </ng-template>
</p-table>
