<p-toolbar>
  <div class="p-toolbar-group-left">
    <h3 class="m-0">Deudas</h3>
  </div>
</p-toolbar>

<p-table [value]="rows" [paginator]="true" [rows]="10" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Banco</th>
      <th>Descripción</th>
      <th>Saldo</th>
      <th>MSI</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.bancoNombre }}</td>
      <td>{{ row.descripcion }}</td>
      <td>{{ row.saldo | currency }}</td>
      <td>{{ row.esMsi ? 'Sí' : 'No' }}</td>
    </tr>
  </ng-template>
</p-table>
